[user]
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIL3Z2wez5xgpFVZ2p/L5jy9FAbApuahZ10xnY8cZ2imD

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true
